body {
    background-color: white;
    font-family: "Nunito", sans-serif;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0%;
    margin-right: 0%;
    color: #17132a;
    background-image: url(../img/Copilot_20250620_222256.png);
}

#heading {
    background-color: #181B1B;
}

h1 {
    font-size: 2rem;
}

h2, ul a {
    font-size: 1rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article > img {
    width: 75%;
    height: 75%;
    position: relative;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    justify-content: space-evenly;
    background-color: #297856;
    display: flex;
}

ul a {
    text-decoration: none;
    color: #f1ebbb;
}

nav li {
    display: inline-block;
    flex-grow: 1;
    padding: 0.5rem;
}

.logo {
    width: 65px;
}

section {
    display: flex;
}

#promotional-content section{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info-content {
    margin: 2rem;
}

article {
    flex: 1;
    background-color: #f1ebbbcc;
    border-radius: 10px;
    padding: 1rem;
}

footer {
    display: flex;
    background-color: #181B1B;
}

footer div {
    flex: 1;
    color: #f1ebbb;
    text-align: center;
    padding: 2rem;
}

#copyr {
    padding-top: 5.5rem;
}